<h1>Seja Bem-Vindo!</h1>

<p>Olá <strong><%= @meu_nome %></strong>,</p>

<p>Este é o curso de <strong><%= @meu_curso %></strong>,</p>

<p>Você está no <%= nome_aplicacao %></p>


<p><strong>Data:</strong> <%= data_br Date.today %></p>

<%= render "menu" %>

<p>Você está no ambiente de <strong><%= ambiente_rails %></strong>.</p>
